<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Учебная страница примера</title>
    <link rel="stylesheet" href="../css/index.css">

</head>

<body>
    <table class="cmenu">
        <tr>
            <td class="cmenu_td"> <img src=../img/sv.jpg alt="logo"></td>
            <td class="cmenu_td">
                <ul class="cmenu_ul">
                    <li><a href="../index.html">Фотографии</a></li>
                    <li><a href="../index.html#bash">Башкирия</a></li>
                    <li><a href="../index.html#birds">Птицы</a></li>
                    <li><a href="../index.html#macro">Макро</a></li>
                    <li>Разное</li>
                    <li>О сайте</li>
                </ul>
            </td>
        </tr>
    </table>


    <h1>Чайка</h1>
    <p class="cpimg"> <img class="cimg" src="02mm.JPG" alt="Чайка"> </p>
    <p></p>
    <h3>Чайка</h3>
    <p class="cb"> <a href="../index.html"> Назад к работам</a> </p>

    <table class="podval">
        <tr>
            <td>
                <p>© </p>
            </td>
            <td>
                <p> колледж</p>
            </td>
            <td>
                <p> Учебный сайт</p>
            </td>
            <td>
                <p> О нас</p>
            </td>
        </tr>
    </table>


</body></html>
